.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    flex-wrap: wrap;
   
   }
.products-container{
    display: grid;
    background-color:rgb(238, 225, 225);
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container{
background-color: cornsilk;
}
.images{
    width: 100px;
    height: 100px;
    margin-top: 5px;
}
.list-class{
    padding: 15px;
    
}
.list-class h4{
    margin: 0;
}
.images-container{
    display: flex;
    margin: 5px;
    padding-left: 10px;
}
.about{
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
     box-shadow:rgba(240, 46, 170, 0.4) 5px 5px, 
    rgba(240, 46, 170, 0.3) 10px 10px, 
    rgba(240, 46, 170, 0.2) 15px 15px, 
    rgba(240, 46, 170, 0.1) 20px 20px,
     rgba(240, 46, 170, 0.05) 25px 25px; 
}
.weight{
    display: flex;
    flex-direction: column;

}
.height{
    display: flex;
    flex-direction: column; 
}
.age{
    display: flex;
    flex-direction: column;
}
.break{
 flex-direction: column;
 display: flex;
 padding: 10px;
}
.break-time{
    text-decoration: none;
    padding: 8px;
    background-color:blueviolet;
    border-radius: 50%;
    color: white;
 }
.break-container{
    display: flex;
    background-color: darkgrey;
    justify-content: space-between;
    padding: 20px;
    margin-top: 15px;
    border-radius: 8px;
  }
  .details{
    padding: 10px;
    /* background-color: cornsilk; */
  }
  @media screen and (max-width:1100px) {
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
  }
  .exercise-time{
    background-color:rgb(208, 166, 166);
    border: 100%;
    padding: 2%;
    margin-top: 15px;
    border-radius: 8px;
  }
  .Break-text{
    background-color:rgb(208, 166, 166);
    border: 100%; 
    padding: 2%;
    margin-top: 15px;
    border-radius: 8px;
   }
   .activity{
    width: 100%;
    background: #95A0A7;
    border: none;
   border-radius: 8px;
 
  }
  .activity:hover{
    background-color:rgb(95, 95, 209);
}
  /* @media (max-width: 576px){
    .shop-container > div{
       width: 100%;
    }
  }

  @media(max-width: 768px) {
    .shop-container > div{
        width: 100%;
    }
  } */
 

